/* body {
    background-color: black;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 4rem;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.head-cont {
    display: flex;
    gap: 2rem;
}
.head-btn {
    color: white;
    text-decoration: none;
} */

.portfolio-text-container {
    min-height: 40rem;
}
.about-image {
    background-image: url(../img/portrait.png);
    min-height: 50rem;
}
.footer-container {
    background-color: gray;
}
.footer-text-heavy {
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}